<ion-header [translucent]="true">
<app-toolbar></app-toolbar> 
</ion-header>

<ion-content >
  <div style="margin-top:20%">
    <ion-button expand="full" color="light">Administrador</ion-button>
  </div>
  <div style="margin-top:15px">
    <ion-button expand="full" [routerLink]="['/customer']" color="secondary">Cliente</ion-button>
  </div>
 <div style="margin-top:15px">
  <ion-button expand="full" [routerLink]="['/login-terminal']" color="success">Terminal</ion-button>
 </div>  
</ion-content>
